.phishing-container {
    background: rgba(0,0,0,0.3);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 2rem auto;
    text-align: left;
    position: relative; /* Add this */
}

.score-counter {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(0,0,0,0.3);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.score-counter div {
    font-size: 1.2rem;
    font-weight: bold;
}
.correct-answer{
    color:#00ff88;
    text-shadow: 0 0 5px rgba(0,255,136,0.3);
}
.incorrect-answer{
    color: #f30629;
    text-shadow: 0 0 5px rgb(239, 2, 81);
}

.phishing-intro p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.email-container {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    background-color: #f1f1ec;
}

.email-header {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    color: #212529;
}

.email-header strong {
    color: #495057;
}

.email-body {
    line-height: 1.7;
    color: #212529;
}

.email-actions {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.action-btn {
    padding: 12px 20px;
    font-size: 1.1em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 150px;
    box-sizing: border-box;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.safe-btn {
    background-color: #28A745; /* VERDE-EXITO */
    color: white;
}

.safe-btn:hover {
    background-color: #218838;
}

.phishy-btn {
    background-color: #DC3545; /* ROJO-ERROR */
    color: white;
}

.phishy-btn:hover {
    background-color: #c82333;
}

.feedback {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid;
}

.feedback.correct {
    background-color: #28A745; /* VERDE-EXITO */
    border-color: #218838; /* Darker Green */
    color: #ffffff;
}

.feedback.incorrect {
    background-color: #FFC107; /* AMARILLO-ADVERTENCIA */
    border-color: #d39e00; /* Darker Yellow */
    color: #343A40; /* TEXTO-PRINCIPAL */
}

.menu-buttons-back{
    display: flex;
    justify-content: space-around;
}
.final-phishing{
    font-size: 1.3rem;
}

.mail-counter{
    color: #00d4ff;
    text-shadow: 0 0 10px rgba(0,212,255,0.3);
}


.scenario-btn{
    background: linear-gradient(145deg, #ffaa00, #ff8800);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 170, 0, 0.4);
    text-decoration: none;
    display: inline-block;
}