.intro-container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 2rem auto;
  text-align: left;
}

.intro-container h1, .intro-container h2, .intro-container h3 {
    color: #343A40;
}

.intro-container p, .intro-container li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.intro-actions {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.intro-text{
    background-color: #000000;
    color: #F8F9FA;
    padding: 2rem;
    border-radius: 8px;
    width: 700px;
    height: 200px;
    margin: 1rem auto;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    overflow-y: auto;
    display: block;

}

.character-intro{
    max-width: 199px; /* Aumentado un 15% desde 173px */
    margin-bottom: 0;
    background-color: white; /* Asegura que el fondo sea blanco detrás de la imagen */
}