
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    backdrop-filter: blur(5px);
}

.main-content{
    flex: 1;
    display: flex;
    gap: 30px;
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.character-image {
    max-width: 199px; /* Aumentado un 15% desde 173px */
    margin-bottom: 0;
    border: 4px solid #17A2B8; /* Borde de color añadido */
    border-radius: 50%; /* Hecho circular */
    padding: 5px; /* Relleno añadido entre la imagen y el borde */
    background-color: white; /* Asegura que el fondo sea blanco detrás de la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil añadida */
}
